# Azure Cognitive Services for Language API key and endpoint
TEXT_ANALYTICS_SUBSCRIPTION_KEY = "YOUR_SUBSCRIPTION_KEY_HERE"
TEXT_ANALYTICS_ENDPOINT = "https://YOUR_ENDPOINT_NAME_HERE.cognitiveservices.azure.com/"

# Twitter API credentials
TWITTER_CONSUMER_KEY = "YOUR_CONSUMER_KEY_HERE"
TWITTER_CONSUMER_SECRET = "YOUR_CONSUMER_SECRET_HERE"
TWITTER_ACCESS_TOKEN = "YOUR_ACCESS_TOKEN_HERE"
TWITTER_ACCESS_TOKEN_SECRET = "YOUR_ACCESS_TOKEN_SECRET_HERE"